<header class="top-nav navbar navbar-expand-lg navbar-dark bg-gradient">
    <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="/">Good Deeds Tracker</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @(collapseNavMenu ? string.Empty : "show")">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="children">Children</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="deeds">Deed Types</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="settings">Settings</NavLink>
                </li>
            </ul>
        </div>
    </div>
</header>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
